
  <div class="d-flex justify-content-center align-items-center">
    <div class="card mb-3 col-md-6" id="<%= dom_id publication %>">
      <%= image_tag publication.image, class: "card-img-top", alt: "Imagen de la Publicación"%>
      <div class="card-body">
        <h5 class="card-title"><%= publication.title %></h5>
        <p class="card-text"><strong>Descripción:</strong> <%= publication.description %></p>
        <p class="card-text"><strong>Usuario:</strong> <%= publication.user.name %></p>
      </div>
    </div>
  </div>
  


