<p style="color: green"><%= notice %></p>

<%= render @publication %>

<div>
  <%= link_to "Editar esta publicación", edit_publication_path(@publication) %> |
  <%= link_to "Volver a Publicaciones", publications_path %>

  <%= button_to "Borrar esta publicación", @publication, method: :delete %>
</div>
